@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h8gs58');
  src:  url('fonts/icomoon.eot?h8gs58#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h8gs58') format('truetype'),
    url('fonts/icomoon.woff?h8gs58') format('woff'),
    url('fonts/icomoon.svg?h8gs58#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
  color: #eedd03;
}
.icon-camera:before {
  content: "\e901";
  color: #ffec00;
}
.icon-denivele-negatif-yellow:before {
  content: "\e902";
  color: #eedd03;
}
.icon-denivele-negatif:before {
  content: "\e903";
}
.icon-denivele-positif-yellow:before {
  content: "\e904";
  color: #eedd03;
}
.icon-denivele-positif:before {
  content: "\e905";
}
.icon-depart:before {
  content: "\e906";
  color: #eedd03;
}
.icon-distance-yellow:before {
  content: "\e907";
  color: #eedd03;
}
.icon-distance:before {
  content: "\e908";
}
.icon-e-bike-yellow:before {
  content: "\e909";
  color: #eedd03;
}
.icon-e-bike:before {
  content: "\e90a";
  color: #fff;
}
.icon-etape:before {
  content: "\e90b";
  color: #eedd03;
}
.icon-fr-flag .path1:before {
  content: "\e90c";
  color: rgb(245, 245, 245);
}
.icon-fr-flag .path2:before {
  content: "\e90d";
  margin-left: -1.400390625em;
  color: rgb(244, 70, 83);
}
.icon-fr-flag .path3:before {
  content: "\e90e";
  margin-left: -1.400390625em;
  color: rgb(255, 255, 255);
}
.icon-fr-flag .path4:before {
  content: "\e90f";
  margin-left: -1.400390625em;
  color: rgb(16, 53, 187);
}
.icon-gopro:before {
  content: "\e910";
  color: #eedd03;
}
.icon-infos-yellow:before {
  content: "\e911";
  color: #eedd03;
}
.icon-infos:before {
  content: "\e912";
  color: #fff;
}
.icon-k:before {
  content: "\e913";
}
.icon-kids:before {
  content: "\e914";
  color: #fff;
}
.icon-mountain-button:before {
  content: "\e915";
}
.icon-mountain-yellow:before {
  content: "\e916";
  color: #eedd03;
}
.icon-nationalite:before {
  content: "\e917";
  color: #fff;
}
.icon-night-black:before {
  content: "\e918";
}
.icon-night:before {
  content: "\e919";
  color: #fff;
}
.icon-parcours .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 0);
}
.icon-parcours .path2:before {
  content: "\e91b";
  margin-left: -1.423828125em;
  color: rgb(255, 255, 255);
}
.icon-parcours .path3:before {
  content: "\e91c";
  margin-left: -1.423828125em;
  color: rgb(255, 255, 255);
}
.icon-parcours .path4:before {
  content: "\e91d";
  margin-left: -1.423828125em;
  color: rgb(0, 0, 0);
}
.icon-parcours .path5:before {
  content: "\e91e";
  margin-left: -1.423828125em;
  color: rgb(255, 255, 255);
}
.icon-parcours .path6:before {
  content: "\e91f";
  margin-left: -1.423828125em;
  color: rgb(255, 255, 255);
}
.icon-pays:before {
  content: "\e920";
  color: #fff;
}
.icon-plane:before {
  content: "\e921";
}
.icon-ravitaillement-black:before {
  content: "\e922";
}
.icon-ravitaillement:before {
  content: "\e923";
  color: #fff;
}
.icon-remontee-yellow:before {
  content: "\e924";
  color: #eedd03;
}
.icon-remontee:before {
  content: "\e925";
  color: #fff;
}
.icon-station:before {
  content: "\e926";
  color: #fff;
}
.icon-trace-gpx .path1:before {
  content: "\e927";
  color: rgb(0, 0, 0);
}
.icon-trace-gpx .path2:before {
  content: "\e928";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path3:before {
  content: "\e929";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path4:before {
  content: "\e92a";
  margin-left: -1.060546875em;
  color: rgb(0, 0, 0);
}
.icon-trace-gpx .path5:before {
  content: "\e92b";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path6:before {
  content: "\e92c";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path7:before {
  content: "\e92d";
  margin-left: -1.060546875em;
  color: rgb(0, 0, 0);
}
.icon-trace-gpx .path8:before {
  content: "\e92e";
  margin-left: -1.060546875em;
  color: rgb(238, 221, 3);
}
.icon-trace-gpx .path9:before {
  content: "\e92f";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path10:before {
  content: "\e930";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-trace-gpx .path11:before {
  content: "\e931";
  margin-left: -1.060546875em;
  color: rgb(255, 255, 255);
}
.icon-uk-flag .path1:before {
  content: "\e932";
  color: rgb(255, 255, 255);
}
.icon-uk-flag .path2:before {
  content: "\e933";
  margin-left: -1.400390625em;
  color: rgb(10, 23, 167);
}
.icon-uk-flag .path3:before {
  content: "\e934";
  margin-left: -1.400390625em;
  color: rgb(255, 255, 255);
}
.icon-uk-flag .path4:before {
  content: "\e935";
  margin-left: -1.400390625em;
  color: rgb(219, 31, 53);
}
.icon-uk-flag .path5:before {
  content: "\e936";
  margin-left: -1.400390625em;
  color: rgb(219, 31, 53);
}
.icon-uk-flag .path6:before {
  content: "\e937";
  margin-left: -1.400390625em;
  color: rgb(219, 31, 53);
}
.icon-uk-flag .path7:before {
  content: "\e938";
  margin-left: -1.400390625em;
  color: rgb(219, 31, 53);
}
.icon-uk-flag .path8:before {
  content: "\e939";
  margin-left: -1.400390625em;
  color: rgb(230, 39, 62);
}
.icon-vtt-descente-black:before {
  content: "\e93a";
}
.icon-vtt-descente:before {
  content: "\e93b";
  color: #fff;
}
.icon-watch:before {
  content: "\e93c";
  color: #eedd03;
}
.icon-woman:before {
  content: "\e93d";
  color: #fff;
}
